<html>

<head>
    <title>ACME Loan Applications</title>

</head>

<body>
    <h1>Loan Applications</h1>
	
	<!-- Add a div to input book data -->
    <div id="addApp">
        <h2>Make an Application</h2>
        <input type="text" id="App_name_zip" placeholder="Applicant name and zipcode">
        <button onclick="addApp()">Add</button>
    </div>

<!-- Add a div to check the status of apllications -->

    <h2>Check an Application</h2>
    <input type="text" id="application_num" placeholder="Application number">
    <button onclick="check_stat()">Add</button>
</div>

<div id="applicationsStatus"></div>

	<!-- Display books in this div -->
    <div id="AppList">
    <!-- Book data will be displayed here dynamically -->
    </div>

    <button id="showAppsButton" onclick="showAllApps()">Show All Applications</button>	
    
    <h2>Change Status</h2>
    <select id="selection">
        <option value="Not Found">Not Found</option>
        <option value="Recieved">Recieved</option>
        <option value="processing">processing</option>
        <option value="accepted">accepted</option>
        <option value="rejected">rejected</option>
    </select>
    <input type="text" id="Change_num" placeholder="Enter Application Number">
    <button id="changeButton" onclick="change()">Change</button>
    <div id="changeStatus"></div>

    
	<!-- Display books in this div -->
    <div id="allApps">
        <!-- Book data will be displayed here dynamically -->
    </div>
    

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>
